<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>All Products : Aling Nena </title>
<style>
  body { 
     background: url('Background.jpg') no-repeat center center fixed;    
     background-size:cover;
  }
  </style>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/admin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Aling Nena</a>
        </div>
      </div>
    </div>

    <div class="container">

        <h1>You have bought...</h1>
            <div class="container">
              <p><%= "#{@quantitytobuy} units of #{@product.name} for #{@total}, and you paid #{@money}." %></p>
            </div>
    </div>
    <br>
    <br>
            <h1>Your change is:</h1>
            <div class="col-lg-6">
          <label>1(s)</label>
          <p><%= "#{@change[:on]}" %></p>
          <br>
          <label>5(s)</label>
          <p><%= "#{@change[:fiv]}" %></p>
          <br>

          <label>10(s)</label>
          <p><%= "#{@change[:ten]}" %></p>
          <br>

          <label>20(s)</label>
          <p><%= "#{@change[:twen]}" %></p>
          <br>
        </div>

        <div class="col-lg-6">
          <label>50(s)</label>
          <p><%= "#{@change[:fif]}" %></p>
          <br>

          <label>100(s)</label>
          <p><%= "#{@change[:hun]}" %></p>
          <br>

          <label>500(s)</label>
          <p><%= "#{@change[:fivhun]}" %></p>
          <br>

          <label>1000(s)</label>
          <p><%= "#{@change[:thou]}" %></p>
          <br>
        </div>

              <div class="col-sm-offset-2 col-sm-10">
                <a href="/products" class="btn btn-default">Back to Product List</a>
              </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
